.experiencias {
  color: var(--texto-primario);
}

.empresa {
  display: flex;
  gap: 0.7rem;
  padding-bottom: 0.5rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.text p {
  font-size: 14px;
  color: var(--texto-secundario);
}

.job {
  padding-left: 1.5rem;
}

.cargo {
  padding-top: 0.3rem;
}

.cargo h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.cargo div {
  padding-bottom: 0.6rem;
}

.cargo div p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.cargo div p:not(:first-child) {
  color: var(--texto-secundario);
}