@import url('./header.css');
@import url('./main-perfil.css');
@import url('./destaques.css');
@import url('./atividades.css');
@import url('./formacao.css');
@import url('./idiomas.css');
@import url('./experiencias.css');
@import url('./pessoas.css');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

main {
  display: flex;
  margin-left: 7rem;
  margin-right: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
  gap: 2rem;
}

.home {
  max-width: 780px;
}

li {
  list-style-type: none;
}

:root {
  --cor-fundo: #1B2226;
  --cor-input: #38434F;
  --texto-primario: #FFFFFF;
  --primario: #70B5F9;
  --texto-secundario: #999999;
  --texto-escuro: #000000 75%;
}

.box-titulo {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: var(--texto-primario);
}

span {
  color: var(--primario);
}

.box {
  background-color: var(--cor-fundo);
  border-radius: 15px;
  margin-top: 0.1rem;
  margin-bottom: 0.7rem;
  padding: 1.2rem;
}

.sobre p {
  color: var(--texto-primario);
  font-size: 14px;
  padding-top: 0.7rem;
}

@media (max-width: 1220px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    max-width: 780px;
    margin: auto;
    margin-top: 1.5rem;
  }
  .side {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
  }
}